<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <h1>遍历集合</h1>
        <input type="text" placeholder="请输入名称" v-model="keyword">
        <ul>
            <li v-for="(p,index) in filPersons" :key="p.id">
                {{p.name}}-{{p.age}}
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        new Vue({
            el:"#root",
            data(){
                return{
                    keyword:'',
                    persons:[
                        {
                            id:1,
                            name:'111',
                            age:20
                        },
                        {
                            id:2,
                            name:'222',
                            age:22
                        },{
                            id:3,
                            name:"123",
                            age:123
                        }
                    ],
                    filPersons:[]
                }
            },watch:{
                keyword:{
                    immediate:true,
                    handler(value){
                        this.filPersons=this.persons.filter((p)=>{
                            return p.name.indexOf(value) !== -1;
                        })
                    }
                }
            }
        })
    </script>
</body>
</html>